$primary-gradient-start: rgba(171, 25, 193, 1);
$primary-gradient-end: rgba(75, 80, 179, 1);
$background-image-url: "../assets/Mobile-Top-BG.svg";
$background-overlay: rgba(255, 255, 255, 0.21);
$white: rgb(255, 255, 255);
$light-grey: rgb(210, 210, 211);
$dark-grey: rgba(145, 140, 140, 0.4);
$highlight-color: #E50695;
$live-bg-color: #008632;
$article-gradient-start: #EA14EC;
$article-gradient-end: #1246CE;
$divider-color: #6a6a6a97;

